
body {

 background-image: url("xD.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: 100%, 100%;
 font-family:Verdana, Geneva, Tahoma, sans-serif;

}

 #clown{
display: flex;
position: absolute;
bottom: 0;
right:0;
margin: 0;
padding: 0;
height: 17rem;
width: 20rem;
background-image: url("h3.gif");
background-size: contain;
background-repeat: no-repeat;
}


h1{
    width: fit-content;
    background-color:  rgba(114, 198, 204, 0.774);
    padding: 0.5rem;
}

a{
    background-color: rgb(255, 251, 0);
}

table{
    background-color: rgba(114, 198, 204, 0.774);
}