<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Nowy_Cenniki</title>
<link rel="stylesheet" th:href="@{styles.css}">
  </head>
  <body>
  <div id="clown"></div>
    <div align="center">
      <h1>Dodaj Nowy Cennik</h1>
      <br />
      <form action="#" th:action="@{/saveCenniki}" th:object="${cenniki}" method="POST">
        <table border="1" cellpadding="10">
          <tr>
            <td>Nr_Cennika:</td>
            <td><input type="number" th:field="*{nrCennika}" /></td>
          </tr>
          <tr>
            <td>Cena_Podstawowa:</td>
            <td><input type="number" th:field="*{cenaPodstawowa}" /></td>
          </tr>
          <tr>
            <td>Cena_Ze_Znizka:</td>
            <td><input type="number" th:field="*{cenaZeZnizka}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">SAVE</button>
             <a href="index_Cenniki">Cofnij</a>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
