<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Nowa_Atrakcja</title>
<link rel="stylesheet" th:href="@{styles.css}">
  </head>
  <body>
  <div id="clown"></div>
    <div align="center">
      <h1>Dodaj Nowa Atrakcje</h1>
      <br />
      <form action="#" th:action="@{/saveAtrakcje}" th:object="${atrakcje}" method="POST">
        <table border="1" cellpadding="10">
          <tr>
            <td>Nr_Atrakcji:</td>
            <td><input type="number" th:field="*{numerAtrakcji}" /></td>
          </tr>
          <tr>
            <td>Data_Konserwacji:</td>
            <td><input type="date" th:field="*{dataKonserwacji}" /></td>
          </tr>
          <tr>
            <td>Godzina_Otwarcia:</td>
            <td><input type="time" th:field="*{godzinaOtwarcia}" /></td>
          </tr>
          <tr>
            <td>Godzina_Zamkniecia:</td>
            <td><input type="time" th:field="*{godzinaZamkniecia}" /></td>
          </tr>
          <tr>
            <td>Nr_Cennika:</td>
            <td><input type="number" th:field="*{nrCennika}" /></td>
          </tr>
          <tr>
            <td>Nr_Parku:</td>
            <td><input type="number" th:field="*{numerParku}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">SAVE</button>
             <a href="index_Atrakcje">Cofnij</a></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
