<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Kolejki</title>
<link rel="stylesheet" th:href="@{styles.css}">
  </head>
  <body>
  <div id="clown"></div>
    <div align="center">
      <h1>Kolejki</h1>
      <table border="1" cellpadding="10">
        <thread>
          <tr>
            <th>Numer_Atrakcji</th>
            <th>Cena_Przejazdu</th>
            <th>Czy_Dzieci</th>
            <th>Ilosc_Wagonikow</th>
            <th>Actions</th>
          </tr>
        </thread>

        <!--Tablce body-->
        <tbody>
          <tr th:each="Kolejki: ${listKolejki}">
            <td th:text="${Kolejki.numerAtrakcji}">Numer_Atrakcji</td>
            <td th:text="${Kolejki.cenaPrzejazdu}">Cena_Przejazdu</td>
            <td th:text="${Kolejki.czyDzieci}">Czy_Dzieci</td>
            <td th:text="${Kolejki.iloscWagonikow}">Ilosc_Wagonikow</td>
            <td><a th:href="@{'/updateKolejki/'+ ${Kolejki.numerAtrakcji}}">Edytuj</a>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <a th:href="@{'/deleteKolejki/'+ ${Kolejki.numerAtrakcji}}">Usun</a></td>
          </tr>
        </tbody>
      </table>
      <a href="/add_Kolejki">Dodaj element do tabeli</a>
      <a href="/">Powrot do rozpiski tabel</a>
    </div>
  </body>
</html>
