<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Cenniki</title>
  </head>
  <body>
    <div align="center">
      <h1>Cenniki</h1>
      <table border="1" cellpadding="10">
        <thread>
          <tr>
            <th>Nr_Cennika</th>
            <th>Cena_Podstawowa</th>
            <th>Cena_Ze_Znizka</th>
          </tr>
        </thread>

        <!--Tablce body-->
        <tbody>
          <tr th:each="Cenniki: ${listCenniki}">
            <td th:text="${Cenniki.nrCennika}">Nr_Cennika</td>
            <td th:text="${Cenniki.cenaPodstawowa}">Nr_Adresu</td>
            <td th:text="${Cenniki.cenaZeZnizka}">Cena_Ze_Znizka</td>
          </tr>
        </tbody>
      </table>
      <a href="/add_Cenniki">Dodaj element do tabeli</a>
      <a href="/tabele">Powrot do rozpiski tabel</a>
    </div>
  </body>
</html>
