<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Obsluga</title>
  </head>
  <body>
    <div align="center">
      <h1>Obsluga</h1>
      <table border="1" cellpadding="10">
        <thread>
          <tr>
            <th>Nr_Pracownika</th>
            <th>Sekcja_Obslugi</th>
            <th>Specjalny_Dostęp</th>
            <th>Actions</th>
          </tr>
        </thread>

        <!--Tablce body-->
        <tbody>
          <tr th:each="Obsluga: ${listObsluga}">
            <td th:text="${Obsluga.numerPracownika}">Nr_Pracownika</td>
            <td th:text="${Obsluga.sekcjaObslugi}">Sekcja_Obslugi</td>
            <td th:text="${Obsluga.specjalnyDostęp}">Specjalny_Dostep</td>
            <td><a th:href="@{'/updateObsluga/'+ ${Obsluga.numerPracownika}}">Edytuj</a>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <a th:href="@{'/deleteObsluga/'+ ${Obsluga.numerPracownika}}">Usun</a></td>
          </tr>
        </tbody>
      </table>
      <a href="/add_Obsluga">Dodaj element do tabeli</a>
      <a href="/">Powrot do rozpiski tabel</a>
    </div>
  </body>
</html>
