<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Aktualizuj Wynagrodznie</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <div id="clown"></div>
    <div align="center">
      <h1>Aktualizuj Wynagrodzenie</h1>
      <br />
      <form
        action="#"
        th:action="@{/updateWynagrodzenia}"
        th:object="${wynagrodzenia}"
        method="POST"
      >
        <table border="1" cellpadding="10">
          <tr>
            <td>Kwota_Podstawowa:</td>
            <td><input type="number" th:field="*{kwotaPodstawowa}" /></td>
          </tr>
          <tr>
            <td>Kwota_Dodatkowa:</td>
            <td><input type="number" th:field="*{kwotaDodatkowa}" /></td>
          </tr>
          <tr>
            <td>Data_Przelewu:</td>
            <td><input type="date" th:field="*{dataPrzelewu}" /></td>
          </tr>

          <tr>
            <td colspan="2"><button type="submit">SAVE</button>
            <a href="index_Wynagrodzenia.html">Cofnij</a></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
