<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Aktualizuj_Czlonek_Obslugi</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <div id="clown"></div>
    <div align="center">
      <h1>Aktualizuj Czlonka Obslugi</h1>
      <br />
      <form action="#" th:action="@{/updateObsluga}" th:object="${obsluga}" method="POST">
        <table border="1" cellpadding="10">
          <tr>
            <td>Sekcja_Obslugi:</td>
            <td><input type="number" th:field="*{sekcjaObslugi}" /></td>
          </tr>
          <tr>
            <td>Specjalny_Dostęp:</td>
            <td><input type="number" th:field="*{specjalnyDostep}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">SAVE</button>
            <a href="index_Obsluga.html">Cofnij</a></td>
          </tr>
        </table>
      </form>
      
    </div>
  </body>
</html>
