<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Aktualizuj_Malpi_Gaj</title>
  </head>
  <body>
    <div align="center">
      <h1>Aktualizuj Malpi Gaj</h1>
      <br />
      <form action="#" th:action="@{/updateMalpieGaje}" th:object="${malpie_gaje}" method="POST">
        <table border="1" cellpadding="10">
          <tr>
            <td>Cena_Godzina:</td>
            <td><input type="number" th:field="*{cenaGodzina}" /></td>
          </tr>
          <tr>
            <td>Ilosc_Sekcji:</td>
            <td><input type="number" th:field="*{iloscSekcji}" /></td>
          </tr>
          <tr>
            <td>Powierzchnia_Metry:</td>
            <td><input type="number" th:field="*{powierzchniaMetry}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">SAVE</button></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
