<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Aktualizuj_Atrakcja</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <div id="clown"></div>
    <div align="center">
      <h1>Aktualizuj Atrakcje</h1>
      <br />
      <form action="#" th:action="@{/updateAtrakcje}" th:object="${atrakcje}" method="POST">
        <table border="1" cellpadding="10">
          <tr>
            <td>Data_Konserwacji:</td>
            <td><input type="text" th:field="*{dataKonserwacji}" /></td>
          </tr>
          <tr>
            <td>Godzina_Otwarcia:</td>
            <td><input type="text" th:field="*{godzinaOtwarcia}" /></td>
          </tr>
          <tr>
            <td>Godzina_Zamkniecia:</td>
            <td><input type="text" th:field="*{godzinaZamkniecia}" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">SAVE</button>
            <a href="index_Atrakcje.html">Cofnij</a></td>
          </tr>
        </table>
      </form>
      
    </div>
  </body>
</html>
